[Unit]
Description=tiny-url-shortener
After=nginx.service


[Service]
Type=forking
WorkingDirectory=/work/www/tiny-url-shortener
ExecStart=/var/www/tiny-url-shortener/target/debug/tiny-url-shortener
TimeoutSec=300
Restart=always

User=www-data
Group=www-data


[Install]
WantedBy=multi-user.target